node_modules
node_modules/**
.expo
.expo/**
.vscode
.vscode/**
eas-inspect
eas-inspect/**
dist
dist/**
build
build/**
web-build
web-build/**
coverage
coverage/**
.env
.env.*
*.zip
*.rar
*.7z
*.tar
*.gz
android/.gradle
android/.gradle/**
android/build
android/build/**
android/app/build
android/app/build/**
ios/build
ios/build/**
